body {
  background-color: rgb(253, 251, 251);
  color: #e7dfdd;
}
h1 {
  font-weight: bold;
  font-size: 30px;
}
h2 {
  font-weight: bold;
  font-size: 20px;
  padding:15px;
}
#titulo {
  color: #e7dfdd;
}
#cabecalho {
  position: fixed;
  top: 0;
  background-color: #0e0b16;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
#minha_foto {
  padding: 0 35%;
  width: 30%;
}
#licoes {
  background-color: #0e0b16;
}
#licoes_aprendidas {
  display: inline-block;
  list-style: inside;
  list-style-type: decimal;
  text-align: justify;
  padding: 0 15px 15px 30px;
}
