body {
  background-color: rgb(253, 251, 251);
  color: #e7dfdd;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font-family: 'Roboto', sans-serif;;
	vertical-align: baseline;
}
main {
  background-color: #0e0b16;
  display: inline-block;
  width: 100%;
}
h1 {
  font-weight: bold;
  font-size: 30px;
}
h2 {
  font-weight: bold;
  font-size: 20px;
  padding:15px;
}
ol, ul {
  list-style: inside;
  padding: 0 10px 10px 30px;
  text-align: justify;
}
#titulo {
  color: #0e0b16;
}
#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(253, 251, 251);
  width: 100%;
  text-align: center;
}
nav {
  text-align: center;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: #0e0b16;
  padding: 0 10px 0 0;
}
nav ul {
  list-style: inside;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
}
nav a:hover {
  font-weight: bold;
  background-color: #0e0b16;
  color: #e7dfdd;
}
#profile-photo {
  display: inline-block;
  padding: 5% 10% 2% 10%;
}
#profile-border {
  background-color: #0e0b16;
  border: 2.5px solid #e7dfdd;
  border-radius: 10px 50%;
  display: inline-block;
}
#minha_foto {
  border-radius: 10px 50%;
  width: 240px;
  padding: 10px;
}
#licoes {
  background-color: #0e0b16;
  padding: 10%;
  display: inline-block;
  vertical-align: top;
}

#licoes_aprendidas {
  display: inline-block;
  list-style-type: decimal;
  
}
#licoes_a_aprender {
  display: inline-block;
}
article {
  width: 70%;
  float: left;
}
.postagem-texto {
  text-align: justify;
  padding: 0 35px 20px 35px;
}
.postagem-texto p {
  padding: 5px 0;
}
aside {
  float: right;
  width: 30%;
  font-size: 14px;
  line-height: 30px;
}

#rodape {
  display: inline-block;
  width: 100%;
  color: #0e0b16;
}
#rodape-description {
  display: inline-block;
  padding: 40px 20px;
}
#socials {
  text-align: center;
  float: right;
  align-items: center;
  padding: 30px 20px;
  font-size: 40px;
}
#socials a {
  color: #0e0b16;
  text-decoration: none;
}

@media screen and ( max-width : 900px ) {
  article {
    width: 100%;
    float: none;
  }
  aside {
    float: none;
    width: 100%;
    font-size: 14px;
    clear: both;
    padding: 0 35px;
  }
}